* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}

.weatherappcontainer {
  display: flex;
  margin-top: 50px;
  margin-left: 20px;
  align-items: center;
}

body {
  background: linear-gradient(to bottom, #e0f7fa, #80deea);
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}
